**/Library/
**/Temp/
**/obj/

**/.vscode/
**/.vs

**/Logs/

**/Assets/Plugins/*
**/Assets/Plugins.meta

**/Assets/EntityCache
**/Assets/EntityCache.meta

*.user
*.idea
*.csproj
*.csproj.user
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*.swp
*.DotSettings
*.gen.csproj.meta

obj.meta
.vs/
build/*
*.pyc

*~master*
*~HEAD*

artifacts

.Editor
.UnityLauncher.Editor
